POSTGRES_USER=your-postgres-user-here
POSTGRES_PASSWORD=your-postgres-password-here
POSTGRES_DB=postgres
REDIS_PASSWORD=your-redis-password-here
REDIS_USER=default
REDIS_DB=0
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=your-auth-db-password-here
AUTH_DB_NAME=auth-db
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=your-catalog-db-password-here
CATALOG_DB_NAME=catalog-db
